body{
    margin:0;
    padding:0;
    font-family: sans-serif;

}

body.modal-open {
    overflow: hidden;
}
header
{
    position:absolute;
    top:0;
    left:0;
    padding:0 100Px;
    background:#1BBD36;;
    width:100%;
    box-sizing: border-box;

}

header.logo
{
    color:#fff;
    margin-top: 25px;
    font-size: 1000px;
    float:left;
    font-weight:bold;
}
header nav
{
    float:right;

}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display:block;
}
header nav ul li a:hover,header nav ul li a:active
{
    color:#fff;
    background:#2196f3;

}
.menu-toggle
{
    color:#fff;
    float:right;
    line-height:50px;
    font-size:24px;
    cursor:pointer;
    display:none;
}
@media (max-width:991px)
{
    header
    {
        padding:0 20px;
    }
    .menu-toggle
    {
        display:block;
    }
    header nav
    {
        position:absolute;
        width:100%;
        height: calc(100vh - 50px);
        background:#333;
        top:50px;
        left:-100%;
        transition:0.5s;
    }
    header nav.active {
        left: 0;
    }

    header nav ul{
        display:block;
        text-align:center;


    }
    header nav ul{
        display:block;
        text-align:center;
    }
    header nav ul li a
    {
        border-bottom:1px solid rgba(0,0,0,.2);
    }
}
footer
{
    width:100%;
    height:60px;
    background:#1BBD36;
    /*  background: #505050;*/
    bottom: 0;
    text-align: center;
}
Pakflix
{
    margin:0px;
    padding:0px;
    line-height: 60px;
    color:#fff;
}
.slogan{
    color:#1BBD36;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

.form {
    background-color: white;
    border: white;
    padding: 3px 20px 20px 20px;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 25px;}
.top{
    /* margin-top: 5%;*/
    padding: 200px 20px 20px 20px;
    margin: auto;
    background-color: white;
    border: white;
    text-align: center;
    width: 50%;
    font-size: 25px;
}
p{
    color:white;
}
a{
    font-size: 15px;
    color: limegreen;
}
i{
    color: #000;
}
.panel-body{
    margin:auto;
    width:50%;
    font-size: 35px;
    padding: 15px;
    margin-top: 13%;
}
.Input_user{
    font-size: 20px;
}
h3
{
    margin-right: 200px;
    font-size: 25px;
    height: 20px;
    margin-top: -50px;
}
a{
    margin: auto;
    text-align: center;
    font-size: 15px;
}
p{
    margin-top: 8px;
    font-size: 14px;
}

i{
    color: #000;
}
.panel-body{
    margin:auto;
    width:60%;
    font-size: 35px;
    padding: 20px;
    margin-top: 150px;
}
.Input{
    font-size: 15px;
    margin-top: -15px;
    margin-left: -10px;
}

fieldset
{
    padding: 20px;
    width: 65%;
    height: 370px;
    margin-top: -10px ;
}
.contact {
    /*
                max-width:95%;
    */
    background-color:lightgreen;
    color: black;
    text-align:center;
    margin-left:5%;
    margin-top:150px;
    width:95%;

}
.info {
    color: black;
    font-size:15px;
    margin-right:5%;
    text-align:center;
    width:100%;
    /*  background: #505050;*/

}

.container {
    /* display: inline-block ;*/
}
/*.footer{
    text-align:center;
    background-color:green;
    color:white;
    padding:3%;
}*/
cfooter
{
    position: absolute;
    width:94%;
    height: 50px;
    padding: 30px;
    margin-bottom: -150px;
    background: green;
    text-align: center;
    margin-top:-5%;
}
.location {
    /* margin-left:50% ;*/
    /* text-align:CENTER;*/
}
.eminfo {
    max-width:95%;
    margin-left:10px;
    text-align:center;
    margin-top: 150px;
    width:100%;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}